@model GymTrainingDiary.Models.AboutModel
@{
    ViewBag.Title = "Developer's contact data";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>

<div>

    <p>@Model.DeveloperName</p>
    <p>@Model.DeveloperPhone</p>
    <p>@Model.DeveloperEmail</p>

</div>



