@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-3">
        <h2>Users</h2>
        @Html.ActionLink("View users", "Index", "Users", null, new { @class = "btn btn-primary"})
    </div>
    <div class="col-sm-3">
        <h2>Excersises Library</h2>
        <p>Will be avialable soon</p>
    </div>
    <div class="col-sm-3">
        <h2>Administrative tools</h2>
        <p>Will be avialable soon</p>
    </div>
</div>

<div class="row">
</div>